*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(29, 34, 7);
}

.container{
    width:500px;
    height: 500px;
    background-color: rgb(233, 251, 160);
    margin: 50px;
    position: relative;
    }

.box{
    /* margin:5px; */
    width: 80px; 
    height: 80px; 
    text-align: center;
    line-height: 80px;
    border: 2px solid black;
}

.static{
    position: static;
    background-color: rgb(155, 0, 155);
    top:30px;
    left: 300px;
}

.rel{
    position: relative;
    background-color: rgb(43, 43, 255);
    color:yellow;
    top: 20px;
    left: 20px;
    right: 30px;
    z-index: 99;
}

.abs{
    position:absolute;
    background-color: green;
    top: 250px;
    left: 150px;
    /* top: 150px;
    left: 50px; */

}

.fix{
    background-color: yellow;
    position: fixed;
    top: 250px;
    left: 350px;

}

.sticky{
    background-color: orangered;
    position: sticky;
    top: 20px;
}
.sticky2{
    background-color: orangered;
    position: sticky;
    top: 10px;
    margin-top: 10px;
    left: 240px;
    
}

.box1{
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    border: 2px solid black;
    
}

.blankspace{
    
    height: 400vh;
    background-color: rgb(233, 251, 160);
}


