*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    height:400px;
    border: 2px solid black;
    
    display:flex;

    /* flex-direction==> row(default), row-reverse, colmn, coulm-reverse, */
    /* flex-direction: row;  */

    /* flex-wrap==>  wrap, row wrap(default), wrap-reverse,   */
    /* flex-wrap: wrap-reverse;  */

    /* row-gap:5px; */
    /* column-gap: 5px; */
    /* gap: 5px; */
    
    /* flex-flow==> row wrap, column wrap  */
    flex-flow: wrap row;

    /* justify-content==> flex-start(default), flex-end, center, space-around, space-evenly, space-between */
    justify-content: space-around;

    /* center, stretch, flex-start, flex-end */
    align-items: center;
    align-content: center;
}

.box{
    border:2px solid green;
    /* margin: 5px 5px; */
    /* width: 80px; */
    /* flex-basis: 25%; */
}

#box-1{
    /* order:1; */
    /* flex-grow: 1; */
    /* flex-shrink: 2; */
    /* flex: 0 0 200px; */

}

#box-4{
    /* order: 2; */
    /* flex-grow: 2; */
    /* flex-shrink: 4; */
    align-self: flex-end;
}






