*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navHeader{
    background-color: #f0f0f0;
    text-align: center;
    height: 16vh;

}

.navh3{
    padding: 8px;
}

.form{
    text-align: center;
    margin: 20vh;
}

.colorboxsec{
    margin: 30px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    padding: 10vh;
    height: 10vh;
    width: 8px;
    border: solid black 1px;
}