
.container{
    /* For overflow */

    /* width: 400px; */
    /* height:400px; */
    /* border: 1px solid black; */
    /* overflow: visible; */
    /* overflow: hidden; */
    /* overflow: scroll; */
    /* overflow: auto; */
    /* text-align: justify; */

/* for float */
    /* img{
        float:left;
    } */

}

/* for float */

.subcontainer{
    /* height: 40vh; */
overflow:auto;
}
.img1{
    float:right
}
.img2{
    float:left;
}

.p1{
    clear:right
}

.p2{
    clear: both;
}

